{% extends 'base.html' %}

{% block content %}
<div class="container mx-auto py-8">
    <h1 class="text-2xl font-bold mb-4 text-center">Détail du Panier</h1>

    <!-- Affichage du panier -->
    <div class="bg-white p-6 rounded-lg shadow-md">
        {% if cart.items.count > 0 %}
            <div class="overflow-x-auto">
                <table class="min-w-full table-auto">
                    <thead class="bg-gray-200">
                        <tr>
                            <th class="px-4 py-2 text-left font-semibold">Produit</th>
                            <th class="px-4 py-2 text-left font-semibold">Quantité</th>
                            <th class="px-4 py-2 text-left font-semibold">Prix Unitaire</th>
                            <th class="px-4 py-2 text-left font-semibold">Prix Total</th>
                            <th class="px-4 py-2 text-left font-semibold">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in cart.items.all %}
                            <tr class="border-b hover:bg-gray-100">
                                <td class="px-4 py-2 flex items-center">
                                    <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" class="w-16 h-16 object-cover mr-4">
                                    {{ item.product.name }}
                                </td>
                                <td class="px-4 py-2">
                                    <form action="{% url 'update_cart' cart_item_id=item.id quantity=item.quantity %}" method="POST">
                                        {% csrf_token %}
                                        <input type="number" name="quantity" value="{{ item.quantity }}" min="1" class="w-16 p-2 border rounded-md">
                                        <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-md ml-2 hover:bg-blue-600">Mettre à jour</button>
                                    </form>                                                                        
                                    
                                </td>
                                
                                <td class="px-4 py-2">{{ item.product.price }} CDF</td>
                                <td class="px-4 py-2">{{ item.get_total_price }} CDF</td>
                                <td class="px-4 py-2">
                                    <form action="{% url 'remove_from_cart' cart_item_id=item.id %}" method="POST">
                                        {% csrf_token %}
                                        <button type="submit" class="text-red-500 hover:text-red-600">Supprimer</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <!-- Total et nombre d'articles -->
            <div class="mt-6 flex justify-between items-center">
                <p class="text-xl font-semibold">Total du panier : {{ cart.get_total }} CDF</p>
                <p class="text-lg">Nombre d'articles : {{ cart.get_item_count }}</p>
            </div>
        {% else %}
            <p class="text-center text-gray-500">Aucun produit dans votre panier.</p>
        {% endif %}
    </div>

    <!-- Bouton de passage à la commande -->
    <div class="mt-8 text-center">
        <a href="{% url 'mobile_money_checkout' %}" class="bg-green-500 text-white px-6 py-3 rounded-lg hover:bg-green-600 transition duration-300">Paiement par mobile money</a>
    </div>
    <div class="mt-8 text-center">
        <a href="{% url 'checkout' %}" class="bg-green-500 text-white px-6 py-3 rounded-lg hover:bg-green-600 transition duration-300">Paiement par carte bancaire</a>
    </div>
</div>
{% endblock %}
