{% extends 'base.html' %}

{% block content %}
  <div class="container mx-auto mt-8">
    <h2 class="text-2xl font-bold text-center mb-4">Créer un Produit pour {{ store.name }}</h2>
    
    {% if messages %}
      <div class="mb-4">
        {% for message in messages %}
          <div class="bg-green-100 text-green-700 p-4 rounded-lg mb-2">
            {{ message }}
          </div>
        {% endfor %}
      </div>
    {% endif %}
    
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      
      <div class="grid grid-cols-1 gap-6">
        <div class="mb-4">
          {{ form.name }}
        </div>
        <div class="mb-4">
          {{ form.category }}
        </div>
        <div class="mb-4">
          {{ form.description }}
        </div>
        <div class="mb-4">
          {{ form.price }}
        </div>
        <div class="mb-4">
          {{ form.stock }}
        </div>
        <div class="mb-4">
          {{ form.image }}
        </div>
        <div class="mb-4">
          <label class="block text-lg font-medium mb-2">Sélectionnez des images pour la galerie :</label>
          <input required name="image_galerie" type="file" multiple class="form-control-file bg-gray-200 border border-gray-300 rounded-md p-2">
          <p class="text-gray-500 text-sm mt-1">Vous pouvez sélectionner plusieurs fichiers.</p>
        </div>
      </div>

      <button type="submit" class="bg-blue-500 text-white px-6 py-3 rounded hover:bg-blue-700 mt-4">
        Créer le Produit
      </button>
    </form>
  </div>
{% endblock %}
