{% extends "base.html" %}

{% block content %}
    <h2 class="text-3xl font-bold text-center mb-8">Détails de la Vente #{{ order.id }}</h2>

    <div class="mb-4">
        <p><strong>Statut :</strong> {{ order.status }}</p>
        <p><strong>Date :</strong> {{ order.created_at }}</p>
        <p><strong>Total :</strong> {{ order.total_amount|floatformat:2 }} CDF</p>

        <h3 class="text-xl font-bold mt-6">Détails des produits</h3>
        <table class="min-w-full table-auto bg-white shadow-lg rounded-lg mt-4">
            <thead class="bg-blue-600 text-white">
                <tr>
                    <th class="px-6 py-3 text-left">Produit</th>
                    <th class="px-6 py-3 text-left">Quantité</th>
                    <th class="px-6 py-3 text-left">Prix unitaire</th>
                    <th class="px-6 py-3 text-left">Total</th>
                </tr>
            </thead>
            <tbody>
                {% for item in order.items.all %}
                <tr class="border-t">
                    <td class="px-6 py-4">{{ item.product.name }}</td>
                    <td class="px-6 py-4">{{ item.quantity }}</td>
                    <td class="px-6 py-4">{{ item.product.price|floatformat:2 }} CDF</td>
                    <td class="px-6 py-4">{{ item.get_total_price }} CDF</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
