{% extends 'base.html' %}

{% block content %}
<div class="container mx-auto py-8">
    <h1 class="text-2xl font-bold mb-4 text-center text-green-600">Paiement réussi</h1>

    <div class="bg-white p-6 rounded-lg shadow-md">
        <p class="text-center text-lg text-gray-700">Merci pour votre commande ! Votre paiement a été effectué avec succès.</p>

        <div class="mt-6">
            <h2 class="text-xl font-semibold text-center mb-4">Détails de la commande</h2>
            <table class="min-w-full table-auto border-collapse">
                <thead class="bg-gray-200">
                    <tr>
                        <th class="px-4 py-2 text-left">Produit</th>
                        <th class="px-4 py-2 text-left">Quantité</th>
                        <th class="px-4 py-2 text-left">Prix Unitaire</th>
                        <th class="px-4 py-2 text-left">Prix Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in order.items.all %}
                        <tr class="border-b hover:bg-gray-100">
                            <td class="px-4 py-2">{{ item.product.name }}</td>
                            <td class="px-4 py-2">{{ item.quantity }}</td>
                            <td class="px-4 py-2">{{ item.price_at_time_of_order }} CDF</td>
                            <td class="px-4 py-2">{{ item.get_total_price }} CDF</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="mt-6 text-center">
            <p class="text-lg font-semibold">Total de la commande : {{ order.total_amount }} CDF</p>
        </div>

        

        <div class="mt-4 text-center">
            <a href="{% url 'index' %}" class="bg-green-500 text-white px-6 py-3 rounded-lg hover:bg-green-600 transition duration-300">
                Retourner à la page d'accueil
            </a>
        </div>
    </div>
</div>
{% endblock %}
