{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- Hero Section -->
<header class="relative bg-gradient-to-r from-gray-900 to-gray-700 h-screen flex items-center" style="background-image: url('{% static "img/her2.jpg" %}'); background-size: cover;">
    <div class="absolute inset-0 opacity-50 bg-black"></div>
    <div class="relative z-10 max-w-4xl mx-auto text-center text-white">
        <h1 class="text-5xl font-bold mb-4">Bienvenue sur les Supermarchés de Kinshasa, Lia Avance!</h1>
        <p class="text-lg mb-6">Achetez en avance, directement depuis chez vous, au bureau, ou n'importe où pour éviter de faire la queue.</p>
        <p class="text-lg mb-6">Dès que vous arrivez, votre panier sera prêt pour vous, ou vous pouvez même commander la livraison à domicile.</p>
        <p class="text-md">Venez faire vos achats en toute simplicité, sans perdre de temps!</p>
    </div>
</header>


<!-- Section des derniers magasins -->
 
<section id="latest_stores" class="py-16 bg-gray-100">
    <div class="max-w-6xl mx-auto text-center">
        <h2 class="text-3xl font-semibold mb-8">Les Supermarchés de Kinshasa</h2>
               <!-- Bouton Voir plus pour accéder à la liste complète -->
        <div class="mb-8">
            <a href="{% url 'list_store' %}" class="inline-block px-8 py-4 text-white bg-blue-600 hover:bg-blue-800 rounded-md font-semibold transition duration-300">
                Voir plus de supermarchés
            </a>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8">
            {% for store in stores %}
            <div class="transform transition-transform hover:scale-105 hover:shadow-lg duration-300 mb-6">
                <div class="bg-white p-6 rounded-lg shadow-lg hover:shadow-2xl">
                    {% if store.thumbnail %}
                    <img class="w-full h-48 object-cover rounded-t-lg" src="{{ store.thumbnail.url }}" alt="{{ store.name }}">
                    {% else %}
                    <img class="w-full h-48 object-cover rounded-t-lg" src="{% static 'img/default-store.jpg' %}" alt="Image par défaut du Store">
                    {% endif %}
                    
                    <!-- Contenu de la carte -->
                    <h3 class="text-xl font-semibold text-gray-800 mt-4">{{ store.name }}</h3>
                    <p class="text-lg text-gray-600">{{ store.commune }}</p>

                    <!-- Note du Store -->
                    <div class="flex items-center mt-2">
                        <p class="text-yellow-500">
                            {% for i in range_10 %}
                                {% if i <= store.average_rating %}
                                    &#9733;  <!-- Étoile remplie -->
                                {% else %}
                                    &#9734;  <!-- Étoile vide -->
                                {% endif %}
                            {% endfor %}
                        </p>
                        <span class="text-sm text-gray-500 ml-2">Note moyenne : {{ store.average_rating|default:"0" }}/10</span>
                    </div>

                    <!-- Boutons de gestion -->
                    <div class="mt-4">
                        <a href="{% url 'store_detail' store.slug %}" class="inline-block px-6 py-3 text-white bg-blue-600 hover:bg-blue-800 rounded-md font-semibold transition duration-300">
                            Voir plus
                        </a>
                    </div>
                </div>
            </div>
            {% empty %}
            <p class="text-center text-lg text-gray-600">Aucun supermarché trouvé avec ces critères.</p>
            {% endfor %}
        </div>

        
    </div>
</section> 
{% comment %} product annonce {% endcomment %}
<section id="produits" class="py-16 bg-gray-100">
    <div class="max-w-6xl mx-auto text-center">
        <h2 class="text-3xl font-semibold mb-8">Derniers Produits</h2>
         <!-- Bouton Voir plus pour accéder à la liste complète des produits -->
        <div class="mb-8">
            <a href="{% url 'list_product' %}" class="inline-block px-8 py-4 text-white bg-blue-600 hover:bg-blue-800 rounded-md font-semibold transition duration-300">
                Voir plus de produits
            </a>
        </div>
        <div class="flex flex-wrap gap-6 justify-center">
            {% for product in products %}
            <div class="flex-shrink-0 border-2 border-secondary bg-slate-100 text-black rounded-xl mb-6 cursor-pointer hover:scale-105 hover:shadow-xl hover:bg-slate-200 transition-all duration-300 ease-in-out w-64 h-full flex flex-col">
                <div>
                    <img src="{{ product.image.url }}" alt="{{ product.name }}" class="rounded-t-xl w-full h-40 object-cover" />
                </div>
                <div class="flex flex-col justify-between flex-grow p-4">
                    <!-- Formulaire d'ajout au panier -->
                    <form id="add-to-cart-form-{{ product.id }}" action="{% url 'add_to_cart_ajax' product.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="px-6 py-2 bg-blue-500 text-white rounded-full text-lg hover:bg-blue-600 transition duration-300">
                            Ajouter au panier
                        </button>
                    </form>

                    <!-- Nom du produit et prix -->
                    <div class="flex flex-col items-center my-4">
                        <h1 class="font-semibold text-xl text-primary pt-2 text-center">{{ product.name }}</h1>
                        <h2 class="font-medium text-lg text-center">{{ product.price }} CDF{{ product.store.currency }}</h2>
                    </div>

                    <!-- Affichage des étoiles de la note moyenne -->
                    <div class="flex items-center justify-center my-2">
                        <p class="text-yellow-500">
                            {% for i in range_10 %}
                                {% if i <= product.average_rating %}
                                    &#9733;  <!-- Étoile remplie -->
                                {% else %}
                                    &#9734;  <!-- Étoile vide -->
                                {% endif %}
                            {% endfor %}
                        </p>
                        <p class="text-gray-500 text-sm">Note moyenne: {{ product.average_rating|default:"0" }}/10</p>
                    </div>

                    <!-- Bouton "Voir les détails" -->
                    <a href="{% url 'product_detail' product.id %}" class="px-6 py-2 bg-blue-500 text-white rounded-full text-lg hover:bg-blue-600 transition duration-300">
                        Voir les détails
                    </a>
                </div>
            </div>
            {% empty %}
            <p>Aucun produit trouvé pour cette recherche.</p>
            {% endfor %}
        </div>

        
    </div>
</section>

<section id="website_section" class="py-16 bg-gray-100">
    <div class="max-w-6xl mx-auto text-center">
        <h2 class="text-3xl font-semibold mb-8">Répertoire des sites web de tous les domaines qui peut vous interressez</h2>

        <!-- Formulaire de recherche -->
        <form method="get" action="#website_section" class="mb-8 flex flex-col items-center space-y-4 px-4">
            <!-- Champ de recherche fusionné pour nom et description -->
            <input type="text" name="search" value="{{ request.GET.search }}" placeholder="Rechercher par nom ou description"
                class="px-4 py-2 w-full sm:w-96 border border-gray-300 rounded-md">
        
            <!-- Bouton de recherche -->
            <button type="submit" class="px-6 py-2 bg-blue-500 text-white rounded-md w-full sm:w-auto">Rechercher</button>
        </form>
          

        {% if websites %}
        <!-- Liste des WebsiteLinks -->
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
            {% for website in websites %}
                <div class="bg-white p-6 rounded-lg shadow-md hover:shadow-lg transition duration-300">
                    <div class="h-48 bg-cover bg-center rounded-lg" style="background-image: url('{{ website.profile_picture.url }}');"></div>
                    <h3 class="text-xl font-bold text-gray-800 mb-2">{{ website.name }}</h3>
                    <p class="text-sm text-gray-500">{{ website.description }}</p>
                    <a href="{{ website.website_link }}" class="text-blue-500 hover:underline">Visite le site</a>
                </div>
            {% endfor %}
        </div>

        <!-- Pagination -->
        {% if websites.has_other_pages %}
        <div class="mt-8">
            <nav aria-label="Pagination des sites web" class="flex justify-center">
                <ul class="flex space-x-4">
                    {% if websites.has_previous %}
                    <li>
                        <a href="?page=1&search={{ request.GET.search }}" class="px-4 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500">&laquo; Première</a>
                    </li>
                    <li>
                        <a href="?page={{ websites.previous_page_number }}&search={{ request.GET.search }}" class="px-4 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500">Précédente</a>
                    </li>
                    {% endif %}

                    {% for page in websites.paginator.page_range %}
                        {% if page == websites.number %}
                        <li><span class="px-4 py-2 bg-blue-600 text-white rounded-lg">{{ page }}</span></li>
                        {% else %}
                        <li><a href="?page={{ page }}&search={{ request.GET.search }}" class="px-4 py-2 bg-gray-200 text-black rounded-lg hover:bg-blue-600">{{ page }}</a></li>
                        {% endif %}
                    {% endfor %}

                    {% if websites.has_next %}
                    <li>
                        <a href="?page={{ websites.next_page_number }}&search={{ request.GET.search }}" class="px-4 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500">Suivante</a>
                    </li>
                    <li>
                        <a href="?page={{ websites.paginator.num_pages }}&search={{ request.GET.search }}" class="px-4 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500">Dernière &raquo;</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        {% endif %}
        
        {% else %}
        <p class="text-red-500">Aucun site trouvé correspondant à vos critères.</p>
        {% endif %}
    </div>
</section>

<section class="bg-white section-padding relative" style="background-image: url('{% static 'img/her2.jpg' %}'); background-size: cover; background-position: center;">
    <div class="absolute inset-0 bg-black opacity-30"></div> <!-- Overlay sombre optionnel -->
    
    <!-- Ajout de padding en haut et en bas du contenu -->
    <div class="container mx-auto px-4 py-16 relative z-10">
        <div class="flex flex-col md:flex-row mb-32">
            
            <!-- Section des informations de contact -->
            <div class="md:w-1/2 mb-8 animate-box" data-animate-effect="fadeInUp">
                <h5 class="text-xl font-semibold text-white">Information</h5>
                <p class="mb-8 text-gray-200">Voici nos contacts qui sont 7/7 opérationnels pour répondre à vos besoins.</p>
  
                <div class="flex items-center mb-4">
                    <div class="mr-4">
                        <img src="{% static 'img/icons/c1.svg' %}" alt="" class="w-8 h-8">
                    </div>
                    <div>
                        <div class="font-semibold text-white">Appelez-nous</div>
                        <div class="text-gray-200"><a href="tel:0972489318" class="text-blue-400 hover:underline">+ 243972489318</a></div>
                    </div>
                </div>
  
                <div class="flex items-center">
                    <div class="mr-4">
                        <img src="{% static 'img/icons/c2.svg' %}" alt="" class="w-8 h-8">
                    </div>
                    <div>
                        <div class="font-semibold text-white">Envoyer un email</div>
                        <div class="text-gray-200"><a href="mailto:ngelekapeniel@gmail.com" class="text-blue-400 hover:underline">ngelekapeniel@gmail.com</a></div>
                    </div>
                </div>
            </div>
  
            <!-- Section du formulaire de contact -->
            <div class="md:w-1/2 md:ml-8 animate-box" data-animate-effect="fadeInUp">
                <div class="form-box p-6 border rounded-lg shadow bg-white">
                    <h5 class="text-xl font-semibold mb-4">Contacter nous</h5>
                    <form action="https://api.web3forms.com/submit" method="POST">
                        <input type="hidden" name="access_key" value="98566e49-8c9c-41d3-8472-2549b3cb0e2d">
                        
                        <div class="mb-4">
                            <input name="name" type="text" required placeholder="Votre Nom *" class="w-full p-2 border rounded" />
                        </div>
                        <div class="flex mb-4">
                            <div class="w-1/2 pr-2">
                                <input name="email" type="email" required placeholder="Votre Email *" class="w-full p-2 border rounded" />
                            </div>
                            <div class="w-1/2 pl-2">
                                <input name="phone" type="text" required placeholder="Votre Numéro *" class="w-full p-2 border rounded" />
                            </div>
                        </div>
                        <div class="mb-4">
                            <input name="subject" type="text" required placeholder="Entrer le Service recherché" class="w-full p-2 border rounded" />
                        </div>
                        <div class="mb-4">
                            <textarea name="msg" required placeholder="Déterminer votre commande *" class="w-full p-2 border rounded"></textarea>
                        </div>
                        <div>
                            <input name="submit" type="submit" value="Envoyer maintenant" class="bg-blue-600 text-white p-2 rounded hover:bg-blue-700 cursor-pointer" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
  </section>
 
  
{% endblock content %}